@use "variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    color: variables.$dark-color;
    font-family: "Segoe UI" , sans-serif;
}
body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: variables.$white-color;
}
main {
    padding:min(5rem , 7%);
    p {
        margin-top: .35em;
    }
}
.diff-container{
    display: flex;
    justify-content: space-between;
}

#overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    inset: 0;
    z-index: 9;
    display: none;

    &.show {
        display: block;
    }
}

.togller {
    padding: 1rem 1rem;

    &:hover , &.focused {
        background-color: variables.$light-color;
    }


}